*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vh;
    height: 100vh;
}

.container {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
}

@media (max-width: 400px ) {
    .container{
        transform: translate(-50%, -50%) scale(0.75);
    }
}

.border-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 380px;
    background-color: #FFF;
    border: 10px solid #333;
    border-radius: 190px;
}

.circle-center {
    width: 20px;
    height: 20px;
    border: 3px solid #000;
    border-radius: 10px;
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.time-line {
    position: absolute;
    top: 50%;
    left: 50%;
    
}

.cardinal {
    width: 340px;
    border: 4px solid red;
}

.large {
    width: 330px;
    border: 3px solid black;
}

.small {
    width: 320px;
    border: 1px solid black;
}

.cover-circle {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;  
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: right;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    z-index: 1;
    background-color: #FFF;

    transition: all 0.05s cubic-bezier(0, 2.09, 0.58, 1);
}

.hour {
    width: 100px;
    border: 2px solid #000;
}

.minute {
    width: 130px;
    height: 6px;
    border: 2px solid black;
}

.seconde {
    width: 135px;
    border: 1px solid red;
} 


.digital-container {
    display: flex;
    width: 500px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    border: 1px solid black;
}

.bloc {
    width: 75px;
    height: 100%;
    border: 1px solid red;
    position: relative;
    top: 0px;
    margin: 10px;
}

.digit {
    position: absolute;
    top: 0;
    width : 75px;
    height: 100%;
}

.half {
    width: 75px;
    height: 49%;
    background-color: #000;
    color: #FFF;
    text-align: center;
    
    transform-style: preserve-3d;
    transition : transform 0.6s ease-out;
    transform-origin: bottom;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    overflow: hidden;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotateX(-180deg);
    backface-visibility : hidden;
    overflow: hidden;
}

.front p {
    transform: translateY(10px);
}

.back p {
    transform: translateY(-62px);
}

.half p {
    line-height: 17vh;
    font-size: 18vh ;
}

.bottom {
    margin-top: 3px;
}

.digit.actif .half {
    margin-top: 1px;
    transform: rotateX(180deg);
}


